.nitro-chat-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60px;
    border-radius: 6px;
    border: 2px solid rgb(20, 22, 53, .35);
    background: #2C2F33;
    padding-right: 10px;
    width: 100%;
    width: 459px;
    overflow: hidden;

    .input-sizer {
        display: inline-grid;
        vertical-align: top;
        height: 100%;
        width: 100%;
                
        input, textarea {
            color: white;
            border: none;
            background: #2C2F33;
            padding: 4px;
            height: 100%;
            width: 100%;

            &:focus {
                outline: none;
            }
        }
    }
}