.nitro-room-tools-container {
    position: absolute;
    bottom: $toolbar-height + 35px;
    left: 25px;

    .nitro-room-tools {
        background: $bg-two;
        border-radius: $radius-two;
        transition: all .2s ease;
        z-index: 2;

        .list-group-item {
            background: transparent;
            padding: 3px 0px;
            color: $white;
            border-color: rgba($black, 0.3);
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }

            &:first-child {
                padding-top: 8px;
            }

            &:last-child {
                border-bottom: none;
                padding-bottom: 8px;
            }

            .tools-item {
                .icon {
                    width: 22px;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .nitro-room-tools-info {
        background: $bg-two;
        border-radius: $radius-two;
        transition: all .2s ease;
        width: 295px;
        height: 65px;
    }
}

.wordquiz-question {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: large;
    background: rgba($dark, 0.95);
    box-shadow: inset 0px 5px lighten(rgba($dark, .6), 2.5), inset 0 -4px darken(rgba($dark, .6), 4);
    border-radius: $border-radius;
    transition: all 0.2s ease;
    z-index: $quiz-zindex;

    .question {
        max-width: 300px;
    }
}

.word-quiz-dislike {
    background: url('@/assets/images/room-widgets/wordquiz-widget/thumbs-down.png');
    width: 31px;
    height: 34px;
}

.word-quiz-like {
    background: url('@/assets/images/room-widgets/wordquiz-widget/thumbs-up.png');
    width: 31px;
    height: 34px;
}

.word-quiz-dislike-sm {
    background: url('@/assets/images/room-widgets/wordquiz-widget/thumbs-down-small.png');
    width: 22px;
    height: 22px;
}

.word-quiz-like-sm {
    background: url('@/assets/images/room-widgets/wordquiz-widget/thumbs-up-small.png');
    height: 22px;
    width: 22px;
}

.nitro-widget-doorbell {
    width: $nitro-doorbell-width;
    height: $nitro-doorbell-height;
}
.buildtool-dropdown {
    background-color: #252525;
    color: #fff;
    width: 100%;
    border: 1px solid #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        filter: brightness(1.5);
    }
}

.buildtool-box {
    align-items: center;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 4px;
}

.wallitem-w-button {
    background-color: #252525;
    color: #fff;
    width: 30px;
    border: 1px solid #fff;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    line-height: 1.1;
    height: 20px;
    border-radius: 5px;

    &:hover {
        filter: brightness(1.5);
    }
}

.buildtool-l-button {
    background-color: #252525;
    color: #fff;
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    border-radius: 5px;
    line-height: 1.5;

    &:hover {
        filter: brightness(1.5);
    }
}

.icon-color polyline {
    stroke: #fff !important;
}

.button-1-w-rotation {
    transform: rotate(35deg);
}

.button-2-w-rotation {
    transform: rotate(325deg);
}

.button-3-w-rotation {
    transform: rotate(-35deg);
}

.button-4-w-rotation {
    transform: rotate(35deg);
}

.button-1-l-rotation {
    transform: rotate(135deg);
}

.button-2-l-rotation {
    transform: rotate(225deg);
}

.button-3-l-rotation {
    transform: rotate(45deg);
}

.button-4-l-rotation {
    transform: rotate(315deg);
}

.floor-button-l-gap {
    gap: 0.5em!important;
}
@import './avatar-info/AvatarInfoWidgetView';
@import './chat/ChatWidgetView';
@import './chat-input/ChatInputView';
@import './choosers/ChooserWidgetView';
@import './context-menu/ContextMenu';
@import './friend-request/FriendRequestDialogView';
@import './furniture/FurnitureWidgets';
@import './mysterybox/MysteryBoxExtensionView';
@import './pet-package/PetPackageWidgetView';
