.roleplay-tools {
    background: $bg-two;
    border-radius: $radius-two;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px;
    position: absolute;
    top: 440px;
    left: 0px;

    .navigation-item {
        align-items: center;
        border-radius: $radius-two;
        cursor: pointer;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 8px;
        
        &:hover {
            background: $bg-three;
        }
    }
}