@import "./character-data/character-container/CharacterContainer.scss";
@import "./roleplay-tools/RoleplayTools.scss";

.nitro-left-side {
    position: absolute;
    pointer-events: none; 
    top: 20px;
    left: 26px;
    height: calc(100% - var(--toolbar-height)); 
    z-index: 100;
}

.nitro-left-side * {
    pointer-events: auto; 
}